/* Variables */
:root {
    --main-font: 'sans-serif', 'monospace';
    --primary-bg-color: #f5f6f7;
    --text-color: #333;
    --highlight-red: red;
    --highlight-gold: gold;
    --highlight-green: green;
    --gallery-max-width: 1400px;
    --gallery-gap: 16px;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--primary-bg-color);
    line-height: 1.6;
    color: var(--text-color);
}

a {
    color: var(--highlight-red);
    text-transform: uppercase;
}

/* Header Styles */
header {
    text-align: center;
    color: #fff;
    background: url('images/saint-joe.jpeg') no-repeat center center/cover;
    padding: 2em 0;
}

.hero-content {
    font-size: 2em;
    margin: 1em 0;
}

.highlight-text {
    margin: 0.5em 0;
}

.highlight-text[data-color="red"] {
    color: var(--highlight-red);
}

.highlight-text[data-color="gold"] {
    color: var(--highlight-gold);
}

.highlight-text[data-color="green"] {
    color: var(--highlight-green);
}

.rounded-img {
    width: 70%;
    max-width: 450px;
    border-radius: 50%;
    margin: 1em auto;
    display: block;
    opacity: 0.8;
}

/* Biography Styles */
.biography {
    padding: 2em;
    margin: 0 auto;
    max-width: 1200px;
}

.biography img {
    display: block;
    margin: 1em auto;
    border-radius: 12em;
}

.flag-img {
    width: 70%;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: var(--gallery-max-width);
    margin: 0 auto;
    gap: var(--gallery-gap);
    padding: 1em;
}

.gallery img {
    width: 100%;
    max-width: 445px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
}

.gallery img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#solo-section, #dreadlocks-rasta-section, #post-dreadlocks-section {
    border-radius: 50px;
    padding: 1em;
}

#solo-section {
    background-color: var(--highlight-red);
}

#dreadlocks-rasta-section {
    background-color: var(--highlight-gold);
}

#post-dreadlocks-section {
    background-color: var(--highlight-green);
}

#suit {
    object-position: top;
}

#kent-sophie {
    object-position: top;
}

#kent-reuben {
    object-position: 1px 20%;
}

#krs {
    object-position: 1px 20%;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero-content p, .hero-content blockquote {
        font-size: 1em;
    }

    .biography {
        padding: 1em;
        font-size: 1.4em;
    }
}

@media (max-width: 480px) {
    .hero-content p, .hero-content blockquote {
        font-size: 0.8em;
    }

    .biography {
        padding: 1em;
        font-size: 1.2em;
    }

    .biography img {
        max-width: 15em;
    }
}
