* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* padding: 0; */
    line-height: 1.6;
    font-family: sans-serif monospace;
    background-color: #f5f6f7;
}

header {
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('images/saint-joe.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
}

header img {
    max-height: 100%;
    max-width: 35%;
    height: auto;
    border-radius: 50%;
    opacity: 0.4;
}

.hero-content {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-content blockquote {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 1em;
}

.biography {
    padding: 2em;
    margin: 0 auto;
    max-width: 1200px;
}

#flag{
    width: 70%;
    height: auto;
    display: flex;
    margin: 40px auto;
    border-radius: 12em;
}

#kent-pose-waterfall {
    width: 70%;
    height: auto;
    position: relative;
    display: flex;
    margin: 40px auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

a {
    color: lightgreen;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
}

.gallery::after {
    content: "";
    width: 350px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    /* position: relative; */
    bottom: 0;
    width: 100%;
}